In [1]:
import seaborn as sns

In [2]:
# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]

In [4]:
# 각 열의 NaN 찾기 - 데이터 프레임을 전달하면 데이터프레임 변환
def missing_value(x):
    return x.isnull()

In [5]:
# 각 열의 NaN개수 반환 - 데이터 프레임을 전달하면 시리즈 변환
def missing_count(x):
    return missing_value(x).sum()

In [6]:
# 데이터프레임의 총 NaN 개수 - 데이터프레임을 전달하면 값 반환
def total_number_missing(x):
    return missing_count(x).sum()

In [7]:
# 데이터프레임에 함수 매핑
result_df = df.pipe(missing_value)
print(result_df.head())
print(type(result_df))

     age   fare
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
<class 'pandas.core.frame.DataFrame'>

In [8]:
result_series = df.pipe(missing_count)
print(result_series)
print(type(result_series))

age     177
fare      0
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
result_value = df.pipe(total_number_missing)
print(result_value)
print(type(result_value))

177
<class 'numpy.int64'>