In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
%matplotlib inline
import gzip
import shutil
from struct import unpack
from collections import namedtuple, Counter, defaultdict
from pathlib import Path
from urllib.request import urlretrieve
from urllib.parse import urljoin
from datetime import timedelta
from time import time

import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import seaborn as sns

In [3]:
sns.set_style('whitegrid')

In [4]:
def format_time(t):
    m, s = divmod(t, 60)
    h, m = divmod(m, 60)
    return f'{h:0>2.0f}:{m:0>2.0f}:{s:0>5.2f}'

In [5]:
data_path = Path('data')
itch_store = str(data_path / 'itch.h5')
order_book_store = data_path / 'order_book.h5'

In [6]:
FTP_URL = 'ftp://emi.nasdaq.com/ITCH/Nasdaq ITCH/'
SOURCE_FILE = '10302019.NASDAQ_ITCH50.gz'

In [7]:
def may_be_download(url):
    if not data_path.exists():
        print('Creating directory')
        data_path.mkdir()
    else:
        print('Directory exists')
    
    filename = data_path / url.split('/')[-1]
    if not filename.exists():
        print('Downloading...', url)
        urlretrieve(url, filename)
    else:
        print('File exists')
    
    unzipped = data_path / (filename.stem + '.bin')
    if not unzipped.exists():
        print('Unzipping to', unzipped)
        with gzip.open(str(filename), 'rb') as f_in:
            with open(unzipped, 'wb') as f_out:
                shutil.copyfileobj(f_in, f_out)
    else:
        print('File already unpacked')
    return unzipped

In [8]:
file_name = may_be_download(urljoin(FTP_URL, SOURCE_FILE))
date = file_name.name.split('.')[0]

Creating directory
Downloading... ftp://emi.nasdaq.com/ITCH/Nasdaq ITCH/10302019.NASDAQ_ITCH50.gz
Unzipping to data/10302019.NASDAQ_ITCH50.bin

In [9]:
event_codes = {'O':'Start of Messages',
               'S':'Start of System Hours',
               'Q':'Start of Market Hours',
               'M':'End of Market Hours',
               'E':'End of System Hours',
               'C':'End of Messages'}

In [10]:
encoding = {'primary_market_marker' : {'Y':1, 'N':0},
            'printable'             : {'Y':1, 'N':0},
            'buy_sell_indicator'    : {'B':1, 'S':-1},
            'cross_type'            : {'O':0, 'C':1, 'H':2},
            'imbalance_direction'   : {'B':0, 'S':1, 'N':0, '0':-1}}

In [11]:
formats = {
    ('integer', 2):'H',
    ('integer', 4):'I',
    ('integer', 6):'6s',
    ('integer', 8):'Q',
    ('alpha',1): 's',
    ('alpha',2): '2s',
    ('alpha',4): '4s',
    ('alpha',8): '8s',
    ('price_4', 4):'I',
    ('price_8', 8):'Q'
}

In [14]:
message_data = (pd.read_excel('message_types.xlsx', sheet_name='messages').sort_values('id').drop('id', axis=1))

In [15]:
message_data.head()

              Name   Offset   ...    Value                             Notes
0     Message Type         0  ...         S             System Event Message
1     Stock Locate         1  ...  Integer                          Always 0
2  Tracking Number         3  ...  Integer   Nasdaq internal tracking number
3        Timestamp         5  ...  Integer        Nanoseconds since midnight
4       Event Code        11  ...    Alpha      See System Event Codes below

[5 rows x 5 columns]

In [16]:
def clean_message_types(df):
    df.columns = [c.lower().strip() for c in df.columns]
    df.value = df.value.str.strip()
    df.name = (df.name
               .str.strip()
               .str.lower()
               .str.replace(' ', '_')
               .str.replace('-', '_')
               .str.replace('/', '_'))
    df.notes = df.notes.str.strip()
    df['message_type'] = df.loc[df.name == 'message_type', 'value']
    return df

In [17]:
message_types = clean_message_types(message_data)

In [18]:
message_labels = (message_types.loc[:, ['message_type', 'notes']]
                  .dropna()
                  .rename(columns={'notes':'name'}))
message_labels.name = (message_labels.name
                       .str.lower()
                       .str.replace('message','')
                       .str.replace('.', '')
                       .str.strip().str.replace(' ', '_'))
message_labels.head()

   message_type                                               name
0             S                                       system_event
5             R                                    stock_directory
23            H                               stock_trading_action
31            Y  reg_sho_short_sale_price_test_restricted_indic...
37            L                        market_participant_position

In [19]:
message_types.message_type = message_types.message_type.ffill()
message_types = message_types[message_types.name != 'message_type']
message_types.value = (message_types.value 
                       .str.lower()
                       .str.replace(' ', '_')
                       .str.replace('(','')
                       .str.replace(')',''))
message_types.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 1 to 172
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          152 non-null    object
 1   offset        152 non-null    int64
 2   length        152 non-null    int64
 3   value         152 non-null    object
 4   notes         152 non-null    object
 5   message_type  152 non-null    object
dtypes: int64(2), object(4)
memory usage: 8.3+ KB

In [20]:
message_types.head()

              name  ...  message_type
1     stock_locate  ...             S
2  tracking_number  ...             S
3        timestamp  ...             S
4       event_code  ...             S
6     stock_locate  ...             R

[5 rows x 6 columns]

In [21]:
message_types.to_csv('message_types.csv', index=False)

In [22]:
message_types = pd.read_csv('message_types.csv')

In [23]:
message_types.loc[:, 'formats'] = (message_types[['value', 'length']]
                                   .apply(tuple, axis=1).map(formats))

In [24]:
alpha_fields = message_types[message_types.value == 'alpha'].set_index('name')
alpha_msgs = alpha_fields.groupby('message_type') 
alpha_formats = {k: v.to_dict() for k, v in alpha_msgs.formats}
alpha_length = {k: v.add(5).to_dict() for k , v in alpha_msgs.length}

In [25]:
message_fields, fstring = {}, {}
for t, message in message_types.groupby('message_type'):
    message_fields[t] = namedtuple(typename=t, field_names = message.name.tolist())
    fstring[t] = '>' + ''.join(message.formats.tolist())

In [26]:
alpha_fields.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, event_code to price_variation_indicator
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   offset        45 non-null     int64
 1   length        45 non-null     int64
 2   value         45 non-null     object
 3   notes         45 non-null     object
 4   message_type  45 non-null     object
 5   formats       45 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [27]:
alpha_fields.head()

                            offset  length  ... message_type formats
name                                        ...
event_code                      11       1  ...            S       s
stock                           11       8  ...            R      8s
market_category                 19       1  ...            R       s
financial_status_indicator      20       1  ...            R       s
round_lots_only                 25       1  ...            R       s

[5 rows x 6 columns]

In [28]:
def format_alpha(mtype, data):
    for col in alpha_formats.get(mtype).keys():
        if mtype != 'R' and col == 'stock':
            data = data.drop(col, axis=1)
            continue
        data.loc[:, col] = data.loc[:, col].str.decode("utf-8").str.strip()
        if encoding.get(col):
            data.loc[:, col] = data.loc[:, col].map(encoding.get(col))
    return data

In [29]:
def store_messages(m):
    with pd.HDFStore(itch_store) as store:
        for mtype, data in m.items():
            data = pd.DataFrame(data)
            data.timestamp = data.timestamp.apply(int.from_btypes, byteorder='big')
            data.timestamp = pd.to_timedelta(data.timestamp)

            if mtype in alpha_formats.keys():
                data = format_alpha(mtype, data)
            
            s = alpha_length.get(mtype)
            if s:
                s = {c:s.get(c) for c in data.columns}
            dc = ['stock_locate']
            if m == 'R':
                dc.append('stock')
            try:
                store.append(mtype,
                             data,
                             format='t',
                             min_itemsize=s,
                             data_columns=dc)
            except Exception as e:
                print(e)
                print(mtype)
                print(data.info())
                print(pd.Series(list(m.keys())).value_counts())
                data.to_csv('data.csv', index=False)
                return 1
    return 0

In [30]:
messages = defaultdict(list)
message_count = 0
message_type_counter = Counter()

In [31]:
start = time()
with file_name.open('rb') as data:
    while True:

        # determine message size in bytes
        message_size = int.from_bytes(data.read(2), byteorder='big', signed=False)
        
        # get message type by reading first byte
        message_type = data.read(1).decode('ascii')        
        message_type_counter.update([message_type])

        # read & store message
        try:
            record = data.read(message_size - 1)
            message = message_fields[message_type]._make(unpack(fstring[message_type], record))
            messages[message_type].append(message)
        except Exception as e:
            print(e)
            print(message_type)
            print(record)
            print(fstring[message_type])
        
        # deal with system events
        if message_type == 'S':
            seconds = int.from_bytes(message.timestamp, byteorder='big') * 1e-9
            print('\n', event_codes.get(message.event_code.decode('ascii'), 'Error'))
            print(f'\t{format_time(seconds)}\t{message_count:12,.0f}')
            if message.event_code.decode('ascii') == 'C':
                store_messages(messages)
                break
        message_count += 1

        if message_count % 2.5e7 == 0:
            seconds = int.from_bytes(message.timestamp, byteorder='big') * 1e-9
            d = format_time(time() - start)
            print(f'\t{format_time(seconds)}\t{message_count:12,.0f}\t{d}')
            res = store_messages(messages)
            if res == 1:
                print(pd.Series(dict(message_type_counter)).sort_values())
                break
            messages.clear()

print('Duration:', format_time(time() - start))

 Start of Messages
	03:02:31.65	           0

 Start of System Hours
	04:00:00.00	     241,258

 Start of Market Hours
	09:30:00.00	   9,559,279
	09:44:09.23	  25,000,000	00:02:38.37

AttributeError: ignored

In [32]:
counter = pd.Series(message_type_counter).to_frame('# Trades')
counter['Message Type'] = counter.index.map(message_labels.set_index('message_type').name.to_dict())
counter = counter[['Message Type', '# Trades']].sort_values('# Trades', ascending=False)
counter

                                        Message Type  # Trades
A                      add_order_no_mpid_attribution  10094291
D                                       order_delete   9044692
U                                      order_replace   2132765
X                                       order_cancel   1086393
I                                               noii   1072326
F                         add_order_mpid_attribution    836655
E                                     order_executed    364951
L                        market_participant_position    214749
P                                              trade    108412
C                          order_executed_with_price      9176
Y  reg_sho_short_sale_price_test_restricted_indic...      8926
R                                    stock_directory      8887
Q                                        cross_trade      8887
H                               stock_trading_action      8885
S                                       system_event         3
V          market_wide_circuit_breaker_decline_level         1
J                                luld_auction_collar         1

In [33]:
with pd.HDFStore(itch_store) as store:
    store.put('summary', counter)

In [35]:
with pd.HDFStore(itch_store) as store:
    stocks = store['R'].loc[:, ['stock_locate', 'stock']]
    trades = store['P'].append(store['Q'].rename(columns={'cross_price': 'price'}), sort=False).merge(stocks)

trades['value'] = trades.shares.mul(trades.price)
trades['value_share'] = trades.value.div(trades.value.sum())

trade_summary = trades.groupby('stock').value_share.sum().sort_values(ascending=False)
trade_summary.iloc[:50].plot.bar(figsize=(14, 6), color='darkblue', title='Share of Traded Value')

plt.gca().yaxis.set_major_formatter(FuncFormatter(lambda y, _: '{:.0%}'.format(y)))
sns.despine()
plt.tight_layout()

KeyError: ignored