In [1]:
import pandas as pd

In [3]:
# 행 인덱스 / 열 이름 지정하여 데이터 프레임 만들기
df = pd.DataFrame([['15','남','덕영중'], [17,'여','수리중']], index=['준서', '예은'], columns=['나이','성별','학교'])

In [4]:
# 데이터 프레임 df 출력
print(df)
print("\n")

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [5]:
# 열 이름 중, '나이'를 '연령'으로, '성별'을 '남녀'로, '학교'를 '소속'으로 바꾸기
df.rename(columns={'나이':'연령', '성별' : '남녀','학교':'소속'}, inplace=True)

In [6]:
# df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸기
df.rename(index={'준서':'학생1', '예은':'학생2'})

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [7]:
# df 출력(변경후)
print(df)

    연령 남녀   소속
준서  15  남  덕영중
예은  17  여  수리중