In [1]:
import pandas as pd

In [2]:
# read_csv() 함수로 df 생성
df = pd.read_csv('./auto-mpg.csv', header=None)

In [3]:
# 열 이름 저장
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight','accelration','model year','origin','name']

In [4]:
# 데이터 프레임 df의 내용을 일부 확인
print(df.head())
print('\n')
print(df.tail())

    mpg  cylinders  displacement horsepower  weight  accelration  model year  \
0  18.0          8         307.0      130.0  3504.0         12.0          70
1  15.0          8         350.0      165.0  3693.0         11.5          70
2  18.0          8         318.0      150.0  3436.0         11.0          70
3  16.0          8         304.0      150.0  3433.0         12.0          70
4  17.0          8         302.0      140.0  3449.0         10.5          70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino


      mpg  cylinders  displacement horsepower  weight  accelration  \
393  27.0          4         140.0      86.00  2790.0         15.6
394  44.0          4          97.0      52.00  2130.0         24.6
395  32.0          4         135.0      84.00  2295.0         11.6
396  28.0          4         120.0      79.00  2625.0         18.6
397  31.0          4         119.0      82.00  2720.0         19.4

     model year  origin             name
393          82       1  ford mustang gl
394          82       2        vw pickup
395          82       1    dodge rampage
396          82       1      ford ranger
397          82       1       chevy s-10

In [5]:
# df의 모양과 크기 확인 : (행의 개수, 열의 개수)를 투플로 변환
print(df.shape)

(398, 9)

In [6]:
# 데이터 프레임 df의 내용 확인
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   accelration   398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

In [7]:
# 데이터 프레임 df의 자료형 확인
print(df.dtypes)
print('\n')

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
accelration     float64
model year        int64
origin            int64
name             object
dtype: object

In [8]:
# 시리즈(mog 열)의 자료형 확인
print(df.mpg.dtypes)

float64

In [9]:
# 데이터프레임 df의 기술통계 정보 확인
print(df.describe())
print('\n')
print(df.describe(include='all'))

              mpg   cylinders  displacement       weight  accelration  \
count  398.000000  398.000000    398.000000   398.000000   398.000000
mean    23.514573    5.454774    193.425879  2970.424623    15.568090
std      7.815984    1.701004    104.269838   846.841774     2.757689
min      9.000000    3.000000     68.000000  1613.000000     8.000000
25%     17.500000    4.000000    104.250000  2223.750000    13.825000
50%     23.000000    4.000000    148.500000  2803.500000    15.500000
75%     29.000000    8.000000    262.000000  3608.000000    17.175000
max     46.600000    8.000000    455.000000  5140.000000    24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000


               mpg   cylinders  displacement horsepower       weight  \
count   398.000000  398.000000    398.000000        398   398.000000
unique         NaN         NaN           NaN         94          NaN
top            NaN         NaN           NaN      150.0          NaN
freq           NaN         NaN           NaN         22          NaN
mean     23.514573    5.454774    193.425879        NaN  2970.424623
std       7.815984    1.701004    104.269838        NaN   846.841774
min       9.000000    3.000000     68.000000        NaN  1613.000000
25%      17.500000    4.000000    104.250000        NaN  2223.750000
50%      23.000000    4.000000    148.500000        NaN  2803.500000
75%      29.000000    8.000000    262.000000        NaN  3608.000000
max      46.600000    8.000000    455.000000        NaN  5140.000000

        accelration  model year      origin        name
count    398.000000  398.000000  398.000000         398
unique          NaN         NaN         NaN         305
top             NaN         NaN         NaN  ford pinto
freq            NaN         NaN         NaN           6
mean      15.568090   76.010050    1.572864         NaN
std        2.757689    3.697627    0.802055         NaN
min        8.000000   70.000000    1.000000         NaN
25%       13.825000   73.000000    1.000000         NaN
50%       15.500000   76.000000    1.000000         NaN
75%       17.175000   79.000000    2.000000         NaN
max       24.800000   82.000000    3.000000         NaN